<div class="container row d-block m-auto my-container pt-5 w-100 card">
  <ygr-jumbotron></ygr-jumbotron>
  <hr class="hr-margin" />
  <h2 class="ml-3 brand-h2">Dan's history</h2>
  <div class="row ml-1">
    <div class="col-lg-8">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem
        repellendus minus aperiam, culpa repudiandae officia rerum qui soluta
        accusamus nobis unde ipsa eos inventore dolores modi nesciunt non cum
        reiciendis molestiae necessitatibus at! Quaerat at a dicta saepe illum
        omnis minus, blanditiis, consequuntur placeat obcaecati dolores
        doloremque fugiat dolore accusamus ut non fugit tempora illo voluptate.
        Nobis, enim ex.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id
        minima delectus, ipsa aliquam nisi minus qui odio magnam suscipit fuga.
        Molestiae quis, voluptatem eaque a iste iure quia rem, magni nam
        assumenda quae enim eius ut tempore iusto recusandae soluta explicabo
        corporis officia delectus debitis unde fugit aspernatur temporibus?
      </p>
    </div>
    <img
      src="assets/dan.jpg"
      alt="Dan's Mugshot LoL - P.s: tas a ler isto André?"
      class="col-lg-4 mb-3"
    />
    <div class="col-lg-12">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias tempora
        aliquam animi quo eaque, recusandae reiciendis, repellendus distinctio
        autem debitis suscipit ex veritatis! Ea corrupti ex quia sequi
        distinctio veniam in excepturi ullam, minima quod perferendis eaque
        saepe quas possimus facilis optio, alias quasi? Nihil saepe impedit,
        voluptatibus fugiat ea libero sequi atque tenetur. Maiores rerum
        praesentium nihil qui esse amet corporis officia necessitatibus numquam.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa mollitia
        esse facilis aut quis. Eos unde error quod exercitationem, cupiditate
        illo pariatur nesciunt mollitia suscipit dolorum incidunt laboriosam!
        Dicta minima praesentium blanditiis consequatur enim nulla officiis
        consequuntur explicabo eius reprehenderit? Natus obcaecati veritatis
        praesentium quae cumque dicta enim aspernatur optio officiis!
        Architecto, accusantium id qui reiciendis beatae labore tempora
        accusamus, necessitatibus nisi corrupti ipsum delectus eum! Nesciunt nam
        dolore nulla soluta, sunt ut assumenda minima debitis nisi modi possimus
        quasi tempora nemo veniam corrupti facilis vel ipsam voluptate rerum?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat et
        laudantium porro debitis a delectus quibusdam omnis hic sunt dolor?
        Delectus veritatis, ipsa exercitationem ea magnam maxime cum similique
        doloribus quia blanditiis facere facilis veniam ab eos est numquam
        ratione, sapiente beatae. Rerum consectetur fugiat enim ex omnis quod
        harum nulla architecto veniam ad aut beatae voluptatem provident itaque,
        adipisci, natus obcaecati nesciunt incidunt cum!
      </p>
    </div>
  </div>
</div>
