.my-button:hover {
  background-color: #00f490;
}

.inner-nav {
  max-width: 600px;
}

.yogurt-logo {
  width: 150px;
}

.wrapping-nav {
  justify-content: center;
  max-width: 1200px;
  background-image: linear-gradient(to top right, #00bbc9, #00f490);
}
