<div class="container row d-block m-auto my-container pt-5 w-100 text-white">
  <ygr-jumbotron></ygr-jumbotron>
  <ygr-carousel class="col-10 mb-1"></ygr-carousel>

  <!-- List of News with no jumbotron - should reuse list of news -->

  <div class="container row d-block m-auto my-container pt-5 w-100 text-white">
    <div>
      <h4 class="mt-5">What's new?</h4>
      <hr />
    </div>
    <div class="row w-100 wrapping-div mx-auto text-dark">
      <div class="card-deck my-5" *ngFor="let news of listOfNews">
        <div class="card shadow col-lg-12" style="width: 18rem">
          <img
            src="{{ news.imgPath }}"
            class="card-img-top my-img"
            alt="{{ news.title }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ news.title }}</h5>
            <p class="card-text">{{ news.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
