.my-container {
  height: 100%;
  max-width: 1024px;
  background-color: transparent;
}

.my-img {
  object-fit: cover;
  width: 100%;
  max-height: fit-content;
  object-fit: cover;
  height: 250px;
  max-height: 250px;
  min-height: 250px;
}

.wrapping-div {
  justify-content: space-around;
  text-align: center;
}

.text-container {
  background-color: white;
  justify-content: center;
}

.h2-title {
  margin-left: -20px;
}
